<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keesondata.device.dao1.IAppResponseProcessDao">

    <resultMap id="appResponseProcessMap" type="com.keesondata.device.model.AppResponseProcess">
        <id column="id" property="id"/>
        <result property="order" column="order" />
        <result property="response" column="response" />
        <result property="limitCount" column="limit_count" />
        <result property="intervalMinutes" column="interval_minutes" />
        <result property="isDelete" column="is_delete" />
        <result property="creator" column="creator" />
        <result property="updator" column="updator" />
        <result property="updateDate" column="update_date" />
        <result property="deleteDate" column="delete_date" />
    </resultMap>

    <select id="selectAll" resultMap="appResponseProcessMap">
    	select * from tb_app_response_process;
    </select>

    <select id="findAppResponseProcessById" resultMap="appResponseProcessMap">
    	select * from tb_app_response_process where id = #{id};
    </select>

</mapper>